*, *::before, *::after {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

/* REMOVE BLUE BUTTON BG ON MOBILE  */
input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
   width: 768px;
   height: 937px;
   margin: 0 auto;
   background: url("./img/0.jpg");
   /* background: rgb(124, 124, 124); */
}

.styles-container {
   margin: 0 auto;
   padding: 50px 80px;
   max-width: 90%;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.style {
   width: 100px;
   height: 100px;
   font-size: 14px;
   line-height: 70px;
   text-align: center;
   background-color: lightblue;
   border: 1px solid black;
   cursor: pointer;
}

.style img {
   max-width: 100%;
   cursor: pointer;
} 

.style.active {
   border: 2px solid rgb(0, 199, 0);
}

.style:hover {
   background-color: rgb(145, 189, 204);
}

.prep, .inhale, .exhale {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 2.8rem;
}
.prep-value, .inhale-value, .exhale-value {
   font-size: 14rem;
   width: 100%;
   text-align: center;
}

.progress {
   position: relative;
   width: 400px;
   height: 400px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.track {
   /* position: relative; */
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background: rgba(0, 0, 0, 0.6);
}

.stroke {
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-image: url(./img/bg3.jpg);
   background-size: cover;
   /* animation-fill-mode: forwards; */
}

.inner {
   position: absolute;
   width: 70%;
   height: 70%;
   border-radius: 50%;
   background: url("./img/0.jpg");
   background-size: cover;
}

@keyframes cycle {
   0% { clip-path: polygon(50% 50%, 50% -50%, -50% 50%, 50% 150%, 150% 50%, 50% -50%);
   }
   25% { clip-path: polygon(50% 50%, 50% -50%, -50% 50%, 50% 150%, 150% 50%, 150% 50%);
   }
   50% { clip-path: polygon(50% 50%, 50% -50%, -50% 50%, 50% 150%, 50% 150%, 50% 150%);
   }
   75% { clip-path: polygon(50% 50%, 50% -50%, -50% 50%, -50% 50%, -50% 50%, -50% 50%);
   }
   100% { clip-path: polygon(50% 50%, 50% -50%, 50% -50%, 50% -50%, 50% -50%, 50% -50%);
   }
}

.modal-window {
   position: absolute;
   /* 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); */
   z-index: 999;
   height: 200px;
   width: 600px;
   background: radial-gradient(circle, rgba(233,233,233,1) 0%, rgba(245,245,245,1) 50%, rgba(222,222,222,1) 100%);
   margin: 0 auto;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: all .4s ease-in-out;
   opacity: 0;
}

.modal-close-btn {
   padding-left: 88%;
   padding-bottom: 30px;
   font-size: 3rem;
   cursor: pointer;
}

.modal-window.modal-open {
   opacity: 1;
}

#slider {
   width: 86%;
   outline: none;
   cursor: pointer;
}

.duration {
   font-size: 3rem;
   margin-top: 40px;
   text-align: center;
}

.duration-value {
   letter-spacing: 0.09rem;
}

.buttons-container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin: 30px auto;
}

.buttons-container>*:first-child {
   margin-right: 100px;
}

#timerBtn, #setDurationBtn {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   cursor: pointer;
   outline: none;
   border: none;
}

.start {
   background: url(./icon/play-ico.png);
   background-size: cover;
}

.pause {
   background: url(./icon/pause-ico.png);
   background-size: cover;
}

#setDurationBtn {
   outline: none;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60px;
   height: 60px;
   cursor: pointer;
   transition: all .2s ease;
}

.setDurationBtn__burger {
   width: 50px;
   height: 4px;
   background: #000;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(255,101,47,.2);
   transition: all .5s ease-in-out;
 }
 .setDurationBtn__burger::before,
 .setDurationBtn__burger::after {
   content: '';
   position: absolute;
   width: 50px;
   height: 4px;
   background: #000;
   border-radius: 5px;
   transition: all .5s ease-in-out;
 }
 .setDurationBtn__burger::before {
   transform: translateY(-16px);
 }
 .setDurationBtn__burger::after {
   transform: translateY(16px);
 }
 /* ANIMATION */
 #setDurationBtn.open .setDurationBtn__burger {
   transform: translateX(-50px);
   background: transparent;
   box-shadow: none;
 }
 #setDurationBtn.open .setDurationBtn__burger::before {
   transform: rotate(45deg) translate(35px, -35px);
 }
 #setDurationBtn.open .setDurationBtn__burger::after {
   transform: rotate(-45deg) translate(35px, 35px);
 }

#overlay {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(1, 1, 1, 0.45);
   z-index: 998;
   transition: all 1s ease;
   display: none;
}