.wrapper {
   position: relative;
   max-width: $content-width;
   height: 480px;
   margin: 0 auto;
   background: url("../../../assets/img/0.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}
